@import "~bootstrap/dist/css/bootstrap.min.css";

#card {
  height: 650px;
  width: 400px;
}

#superDuperButton {
  height: 25px;
  width: 100px;
  margin-left: 50px;
}

#symbol {
  font-size: 100px;
}

#symbol2 {
  font-size: 100px;
  float: right;
  margin-bottom: 50px;
}

#number {
  font-size: 150px;
}
